#divLookupText
{
  margin-top: 10px;
}

#selectLanguage
{
  width:100px;
}

#txtLookup
{
  width: 160px;
  margin-right: 10px;
}

#lookupResult {
  min-height: 200px;
  min-width: 500px;
  margin-top: 20px;
  border: 1px solid gray;
  padding: 4px 8px;
}

#lookupResult p {
  margin-bottom: 4px;
}
