<div class="container">
    <div [@fadeInOut]>

      <div>
        <div>Language</div>
          <select id="selectLanguage" [(ngModel)]="language">
            <option value="en">English</option>
            <option value="es">Spanish</option>
          </select>
        </div>

      <div id="divLookupText">
          <div>Enter the scripture</div>
          <input type="text" id="txtLookup" [(ngModel)]="citation"/><button id="btnLookup" (click)="lookupScripture()">Lookup</button>
        </div>

        <div id="lookupResult" [(innerHtml)]="resultHtml"></div>
    </div>
</div>
