<div class="container about-page">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div class="reduced-font" [@fadeInOut]>
      <h4>Welcome to Biblifun!</h4>

      <p>The purpose of this website is to help improve your memory of Bible scriptures, and have fun at the same time!</p>

      <p>You can practice on your own, or play collaborative games with friends where you work together or form teams. The goal is not to compete, but to learn.</p>

      <h5>What Can You Do Here?</h5>
      <ul>
        <li>Practice scripture memorization using flash cards.</li>
        <li>Create your own scipture sets for practice, including your own summaries.</li>
        <li>Play games with friends, like Jeopardy.</li>
      </ul>

    </div>
</div>
